/* ======
STATISTICS 
  ====== */
.statistics {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.statistics h3 {
    margin-top: 10px;
}
.statistics-number-big {
    font-size: 54px;
}
.statistics-text-big {
    font-size: 48px;
}
.text-blue-grad {
    background: -webkit-linear-gradient(45deg, rgb(102, 180, 249), rgb(69, 143, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-red-grad {
    background: -webkit-linear-gradient(45deg, rgb(255, 31, 0), rgba(255, 30, 0, 0.75));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-white-grad {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-green-grad {
    background: -webkit-linear-gradient(45deg, rgb(100, 239, 209), rgba(100, 239, 209, 0.75));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-orange-grad {
    background: -webkit-linear-gradient(45deg, rgb(255, 199, 89), rgba(255, 199, 89, 0.75));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}