/* ======
MAP 
  ====== */

#container-parking .map-wrapper {
    position: absolute;
    height: 100%;
    width: 3000px;
    left: 1000px;
    z-index:0;
}

#container-parking .map {
    height: 100%;
    width: 3000px;
}
